<h1> Summary Report </h1>
<%= form_tag :action=>'summary' do %>
	<%= select_month @start_date %>
	<%= submit_tag 'change month'%>
<%end%>

<table border=0 cellpadding=5>
<tr>
<th>Tag</th> <th>Amount</th>
</tr>

<% @tag_amounts.each do |key, value| %>
<tr>
<td><%= key %></td>
<td><%= number_to_currency(value) %></td>
</tr>
<% end %>

</table>
<p>
<%= link_to "Reporting Home", :action=>"index" %>

