<h1>The Register</h1>


<%= form_tag('/transactions', :method => :get) do %>
	<%= select_month @start_date %>
	<%= select_year(@start_date, :start_year => 2011, :end_year => 2016) %>
	<%= submit_tag 'change date'%>
<%end%>
<p>
<table border=1>
<tr>
<th>Date</th> <th>Account</th> <th>Payee</th> <th>Amount</th> <th>Tag</th>
</tr>

<% for tx in @txs %>

<tr>
<!-- <td><%= tx.date %></td> -->
<td><%= tx.date.strftime("%m/%d/%y") %>
<td><%= tx.account.name %>
<td><%= tx.payee.friendly_name %></td>
<td><%= best_in_place tx, :amount , :display_with => :number_to_currency%></td>
<td><%= best_in_place tx, :tag_list %></td>
<td><%= link_to "edit", edit_transaction_path(tx) %></td>
<td><%= link_to 'delete', tx, confirm: 'Are you sure?', method: :delete %></td>
</tr>

<% end %>

</table>


