<!DOCTYPE html>
<html>
<head>
  <title>Fizzcle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  
<style type="text/css">

</style>

</head>
<body>

<span class="highlight">
<table border=0>

<tr>
<th><%= link_to image_tag "/images/dollar_sign1.jpg", {:controller=> "main", :action=>"index"} %></th>
<th width="200"><%= link_to "Fizzcle Home Page", :controller=> "main", :action=>"index" %></th>
<th width="200"><%= link_to "View Accounts", :controller=>"account", :action=>"index" %></th>
<th width="200"><%= link_to "View Register", :controller=>"transactions", :action=>"index" %></th>
<th width="200"><%= link_to "View Reports", :controller=>"report", :action=>"index" %></th>
<th width="200"><%= link_to "logout", {:controller=> "user", :action=>"logout"} %></th>
</tr>

</table>

</span>

<hr />
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<%= yield %>
<p>
<hr />
<i>copyright 2017(c)</i>
</body>
</html>
